<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WTForms</title>
</head>
<body>
    <h2>WTForms</h2>
    <p>Data yang dikirim adalah:</p>
    <p>
        Jenis jenis_kegiatan:
        {% if jenis_kegiatan==1 %}
            Rutin
        {% elif jenis_kegiatan==2 %}
            Rencana
        {% else %}
            Tugas
        {% endif %}
        <br>
        Keterangan : {{keterangan}} <br>
        Tanggal : {{tanggal}} <br>
        Waktu : {{waktu}} <br>
    </p>
</body>
</html>