<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rutin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/sidebar.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  {% include 'sidebar.html' %}
  <section class="home-section" >
      <div class="text">Data Kegiatan Rutin</div>
      <table class="table table-hover table-striped table-bordered shadow mb-3 bg-white" style="width:80%;margin:auto;">
        <thead>
            <tr class="table" style="background: #1d1b31;color: white;text-align: center;">
                <th scope="col">Keterangan</th>
                <th scope="col">Tanggal</th>
                <th scope="col">Waktu</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for baris in container %}
              <tr>
                <td>{{ baris[1] }}</td>
                <td>{{ baris[2] }}</td>
                <td>{{ baris[3] }}</td>
                <td style="text-align: center;"><a href="{{url_for('update', no=baris[0])}}" class='bx bx-analyse'></a></td>
                <td style="text-align: center;"><a href="{{url_for('delete', no=baris[0])}}" class='bx bx-trash'></a></td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
      <a class="btn btn-outline-info shadow-sm" href="{{url_for('insert')}}" role="button" style="margin-left: 10%;margin-top: 15px;">TAMBAH RUTIN</a>
  </section>
  
</body>
</html>